<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Password rule settings</title>

        <input-field type="int">
            <name>minLength</name>
            <label>Minimum length</label>
            <defaultValue>10</defaultValue>
        </input-field>

        <input-field type="int">
            <name>uppercase</name>
            <label>Minimum uppercase letters</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="int">
            <name>lowercase</name>
            <label>Minimum lowercase letters</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="int">
            <name>numbers</name>
            <label>Minimum numbers</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="int">
            <name>specialCharacters</name>
            <label>Minimum special characters</label>
            <defaultValue>1</defaultValue>
        </input-field>
    </card>

</config>